@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: royalblue;
}
  
html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5vh;
    min-height: 100vh;
    max-height: 500vh;
}

.main {
    width: 90vh;
    margin: 5vw;
    min-height: 125vh;
    max-height: 700vh;
    margin-bottom: 15vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 15px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 15vh;
    margin-bottom: 10vh;
}

.logo{
    max-width: 40vh;
    height: auto;
    margin-top: 5vw;
}

.wppButton{
    font-family: Roboto, sans-serif;
    font-weight: 0;
    text-align: center;
    font-size: 19px;
    margin: 5vh;
    color: #fff;
    background-color: #25D366;
    padding: 10px 30px;
    border: solid #0066cc00 2px;
    box-shadow: rgb(72, 202, 228) 0px 0px 35px -3px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 20vh;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    height: 5vh;
}

.wppButton:hover{
transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #25d366;
border: solid 2px #25d366;
}

.btn{
    margin: 0 auto;
    text-align: center;
}

.promoTitle, .promoText{
    font-size: 3vh;
    margin: 2vh;
    text-align: center;
    color: blue;
}

.promoImg{
    height: 30vh;
    margin-top: 5vw;
}

.wppImg img{
    padding-top: .5vh;
    max-width: 5vh;
    height: auto;
}

.benefitsTitle{
    text-align: center;
    margin-top: 2vh;
    color: white;
}

.citiesTitle{
    text-align: center;
    margin-top: 2vh;
    color: black;
}

.benefits {
    background-color: #25d366;
    width: 100%;
    margin-top: 2vh;
    height: 100%;
}

.cardHolder{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border: 1px solid none;
    background-color: white;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5vh;
    font-size: large;
    font-weight: bold;
    width: 20vh;
    border-radius: 15px;
    padding: 3vh;
    text-align: center;
    flex-direction: column;
}

.card img {
    max-width: 10vh;
}

.card h3{
    font-size: 2.5vh;
}

.card p{
    font-size: 2vh;
    border-top: 2vh;
}

footer {
    height: 10vh;
    margin: 0 1rem;
}
  
footer p {
    color: white;
    text-align: center;
}

.cities{
    margin: 5vh;
    width: 100%;
    margin-top: 2vh;
    height: 100%;
}

.citiesHolder{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.citiesTitle{
    margin: 2vh;
}

.city{
    text-align: center;
    border: 1px solid none;
    width: 30vh;
    padding: .5vh;
    border-radius: 15px;
    margin: 1vh;
    display: flex;
    align-items: center;
}

.city img {
    width: 5vh;
    height: auto;
}

.plans{
    width: 100%;
    margin-top: 2vh;
    height: 100%;
}

.plan {
    border: 1px solid royalblue;
    border-radius: 15px;
    padding: 2vh;
    width: 20vh;
    color: white;
    background-color: royalblue;
    display: flex;
    margin: 1vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plansHolder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2vh;
    align-items: center;
}

.planTitle{
    font-weight: bold;
}

.plansTitle{
    text-align: center;
    margin-top: 2vh;
    color: black;
}

.wifi{
    margin-top: 1vh;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.price{
    margin-top: 1vh;
    font-weight: bold;
}

.wifi img{
    width: 3vh;
    height: auto;
}

.getPlan{
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin-top: 1vh;
    font-size: 14px;
    color: #1227b0;
    background-color: #ffffff;
    padding: 10px 30px;
    border: solid #1823ba 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 15px;
    transition : 0ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.getPlan:hover{
    transition : 1500ms;
    padding: 10px 60px;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}

.planSpeed {
    border-bottom: 1px solid white;
    position: relative; /* Adicionando posição relativa */
}
